/* Write your CSS here */
.team-card {
  border: 1px #ffffff solid;
  border-radius: 5px;
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 100px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .team-card {
    padding: 20px 30px 20px 30px;
  }
}

@media screen and (max-width: 500px) {
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
  }
}

.team-image {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .team-image {
    width: 50px;
    height: 50px;
  }
}
.team-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
  padding-left: 10px;
}
.link-item {
  text-decoration: none;
  width: 45%;
}
